<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<body>
    <!--上傳表單-->
    <div class="upload">
        <form>
            <div class="form-group" >
            <label for="InputISBN">ISBN</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="書本ISBN">
            <button type="submit" class="btn btn-default">送出</button>
            </div>
        </form>
    </div>
        
    <div class="table-responsive">
            <table class="table"> 
                <caption>上傳書籍</caption>            
            <tr>
                <th>書籍封面</th>
                <th>書籍名稱</th>
                <th>ISBN</th>
                <th>作者</th>
                <th>價格</th>
            </tr>            
            
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>    
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            </table>
        </div>

</body>
</html>