<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<body>
<!--Navbar-->
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">台灣囝仔</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="event.html">活動專區</a></li>
        <li><a href="#">熱銷排行</a></li>
        <li><a href="#">許願池</a></li> 
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login.html">登入</a></li>
        <li><a href="signup.html">註冊</a></li>
        <li><a href="">會員中心</a></li>
        <li><a href="#">購物車</a></li>
      </ul>
        
    </div><!-- /.navbar-collapse -->
        
  </div><!-- /.container-fluid -->
       
</nav>
    
<!--網站主旨-->
<div>    
    <h1 align="center">為了環保，請支持校內二手書流通!<br /></h1>
    <p align="center">沒事多喝水，有事多上廁所</p>
</div> 
    
<!--登入表單-->
<div align="center">    
    <form role="form" >
        <div class="form-group" >
            <label for="InputAccount">帳號</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="輸入帳號">
            <label for="InputPassword1">密碼</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></br>
            <button type="submit" class="btn btn-default">送出</button>
        </div>
    </form>
</div>
</body>
</html>