<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../assets/Js/commonJS.js"></script>
<body>
<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" onclick="showIndex()">台灣囝仔</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="event.html">活動專區</a></li>
                <li><a href="#">熱銷排行</a></li>
                <li><a href="#">許願池</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html">登入</a></li>
                <li><a href="../../MainPage/MainPageController.php?action=ShowMemberAreaPage">會員中心</a></li>
                <li><a href="../../MainPage/View/index.html">回到首頁</a>
                <li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>
<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <!-- Table -->

                <h3>會員中心</h3>
                <li><a target="myframe" href="Profile.html">會員基本資料</a></li>
                <li><a target="myframe" href="followlist.html">我的最愛</a></li>
                <li><a target="myframe" href="upload.html">上架書籍管理</a></li>
                <li><a target="myframe" href="buyorder.html">交易管理</a></li>
                <li><a target="myframe" href="chatroom.html">對話紀錄</a></li>
                <li><a target="myframe" href="wantlistinfo.html">許願池追蹤</a></li>


            </div>

            <iframe name="myframe" class="myframe" src="" align="" frameborder="0"
                    scrolling="yes"></iframe>

        </div>
    </div>
</div>


</body>
</html>