<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<body>
    
    <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">已媒合</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">未媒合</a></li>

   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="table-responsive">
            <table class="table"> 
                <caption>許願池清單管理</caption>            
            <tr>
                <th>許願日期</th>
                <th>書籍封面</th>
                <th>書籍名稱</th>
                <th>作者</th>
                <th>書況</th>
            </tr>            
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            </table>
        </div>
      
      </div>
    <div role="tabpanel" class="tab-pane" id="profile">
       <div class="table-responsive">
            <table class="table"> 
                <h3>許願池清單管理</h3>            
            <tr>
                <th>許願日期</th>
                <th>書籍封面</th>
                <th>書籍名稱</th>
                <th>作者</th>
                <th>書況</th>
                
            </tr>            
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>                
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            <tr>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
                <td>範例</td>
            </tr>
            
            </table>
        </div>
      </div>
 
  </div>

</div>                    
    				
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>